<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- stylesheet -->
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../app/css/style.css">
    <!-- libs-->
    <script src="../libs/jquery/jquery-2.1.3.js"></script>
    <script src="../libs/bootstrap/js/bootstrap.js"></script>
    <script src="../libs/angular/angular.js"></script>
    <script src="../libs/angular/angular-route.js"></script>
    <script src="../app/core.js"></script>
    <script src="../app/controllers/home.js"></script>
    <script src="../app/controllers/resume.js"></script>
    <!-- todo add ng app-->
  </head>

  <body ng-app="resumify">
    <div class="container">
      <div class="row header">
        <div class="col-md-6">
          <h1>RESM.io</h1>
        </div>
        <div class="col-md-6">
          <h2 class="text-right">Build your resume online</h2>
        </div>

      </div>
      <hr>
    </div>
    <div id="main" ng-view=""></div>

  </body>

</html>
