<div class="container" ng-controller="resume">
   <div class="row">
     <div class="col-md-4">
       <form id="Resume">
         <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" ng-model="Name" name="name" placeholder="Enter Full Name">
         </div>
         <div class="form-group">
           <label for="Title">Title</label>
           <input type="text" class="form-control" ng-model="Title" name="Title" placeholder="Enter Title">
         </div>
         <div class="form-group">
           <label for="Phone">Phone</label>
           <input type="text" class="form-control" ng-model="Phone" name="Phone" placeholder="Enter Phone #">
         </div>
         <div class="form-group">
           <label for="Skills">Skills</label>
           <input type="text" class="form-control" ng-model="skill" name="Skills" ng-keyup="addSkill()" placeholder="Enter Skill">
           <div class="form-group" ng-show="skills">
            <ul id="skills">
              <li ng-repeat="skill in skills">{{skill}}</li>
            </ul>
           </div>
        </div>

       </form>
     </div>
     <!-- resume preview -->
     <div id="resume-preview"class="col-md-8" >
      <h1 class="text-right">{{Name}}</h1>
      <h4 class="text-right">{{Title}}</h4>
     </div>
   </div>
</div>
